body{
    color:darkcyan;
    font-family:Arial, Helvetica, sans-serif;
}

#cabecera{
    background-color: deepskyblue;
    padding: 10px;
}
#Footer{

    color:lime;
    text-align: left;

}

#container{
    text-align: center;
    margin: auto 40px;
    border: 2px solid chocolate;
    
}